<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-dark form-card-title text-white">
            EDITAR MODELO DE EQUIPO
        </div>
        <div class="card-body">
            {{#data}}
            {{#modelo}}
            <form action="/modelo/editar/{{{IDMODELO}}}" method="POST">
                {{/modelo}}
                <div class="form-group">
                    <label for="idmarca" class="form-input-title font-weight-bold text-primary">MARCA:</label>
                    <select name="idmarca" id="idmarca" class="form-control">
                        {{#each marcas}}
                        {{{escogerMarca @idmarcaeqp}}}
                        {{/each}}
                    </select>
                </div>

                {{#modelo}}
                <div class="form-group">
                    <label for="modelo" class="form-input-title font-weight-bold text-primary">MODELO:</label>
                    <input required="true" type="text" name="modelo" id="modelo" value="{{this.MODELO}}"
                        class="form-control">
                </div>

                <div class="form-group">
                    <label for="detalle" class="form-input-title font-weight-bold text-primary">DETALLE:</label>
                    <input required="true" type="text" name="detalle" id="detalle" value="{{this.DETALLE}}"
                        class="form-control">
                </div>
                {{/modelo}}

                <div class="form-group">
                    <label for="idcatalogoeqp" class="form-input-title font-weight-bold text-primary">TIPO DE
                        EQUIPO:</label>
                    <select name="idcatalogoeqp" id="idcatalogoeqp" class="form-control">
                        {{#each tiposequipos}}
                        {{{escogerEquipo @idtipoeqp}}}
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm form-button-title font-weight-bold">
                        GUARDAR
                        <i class="fas fa-save"></i>
                    </button>
                    <a href="/modelo/listar" class="btn btn-sm btn-outline-danger form-button-title font-weight-bold">
                        Regresar </a>
                </div>

            </form>
            {{/data}}
        </div>
    </div>
</div>