<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-dark form-card-title text-white">
            AGREGAR MODELO DE EQUIPO A LA BASE DE DATOS
        </div>
        <div class="card-body">
            {{#data}}
            {{#modelo}}
            <form action="/modelo/editar/{{{IDMODELO}}}" method="POST">
            {{/modelo}} 
                <div class="form-group">
                    <label for="idmarca" class="form-input-title">MARCA:</label>
                    <select
                        name="idmarca"
                        id="idmarca"
                        class="form-control"
                    >
                    {{#each marcas}}
                        {{{escogerMarca @idmarcaeqp}}}
                    {{/each}}
                    </select>
                </div>
                
                {{#modelo}}
                    <div class="form-group">
                        <label for="modelo" class="form-input-title">MODELO:</label>
                        <input
                            required="true"
                            type="text" 
                            name="modelo" 
                            id="modelo" 
                            value="{{this.MODELO}}"
                            class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="detalle" class="form-input-title">DETALLE:</label>
                        <input
                            required="true"
                            type="text" 
                            name="detalle" 
                            id="detalle" 
                            value="{{this.DETALLE}}"
                            class="form-control">
                    </div>
                {{/modelo}}

                <div class="form-group">
                    <label for="idcatalogoeqp" class="form-input-title">TIPO DE EQUIPO:</label>
                    <select
                        name="idcatalogoeqp"
                        id="idcatalogoeqp"
                        class="form-control"
                    >
                    {{#each tiposequipos}}
                        {{{escogerEquipo @idtipoeqp}}}
                    {{/each}}
                    </select>
                </div>
               
               <div class="form-group">
                    <button 
                        type="submit" 
                        class="btn btn-success form-button-title">
                            GUARDAR 
                        <i class="fas fa-save"></i>
                    </button>
                </div>
               
            </form>
            {{/data}}
        </div>
    </div>
</div>